@charset "utf-8"

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables"
// 2. Set your own initial variables
@import "./consts.sass"
// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma"

// 5. Other custom classes and id
.app
	width: 100vw
	height: 100vh
	display: flex
	flex-direction: column
	overflow-y: scroll

.no-shrink
	flex-shrink: 0

.top-bar
	width: 100vw
	height: 60px
	background-color: $light-primary
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding-right: 5%
	padding-left: 5%

.h-centered
	display: flex
	flex-direction: column
	align-items: center

.is-flex-column
	display: flex
	flex-direction: column

.is-column-item
	margin-bottom: 1rem

.is-column-item-first
	margin-top: 1rem

.is-max-350
	max-width: 350px

.space-between
	justify-content: space-between

.is-primary-background
	background-color: $primary
	color: white

.is-theme-red-background
	background-color: $theme-red
	color: white

.is-bar-logo
	max-height: 40px !important
	width: auto !important
